tensorflow==2.15.0
pillow==10.4.0
opencv_python==4.10.0.84
numpy==1.26.4
pydicom==2.4.4
pyautogui==0.9.54
tkcap==0.0.3
img2pdf==0.5.1
gdown==5.2.0
#tk==8.6
#matplotlib==3.9.1
#pandas==2.2.2
#python-xlib==0.33
#mlflow==2.14.3
